
<div style="text-align: center;">
<h1 style="color: black; align-self: center; ">About Us</h1>
        <div>
            <h4>
        <p style="color: black; align-self: center; "> <br>
          The Online Counseling System is developed to enhance counseling.  
          The software will be great relief to the students. <br>
           The Online Counseling System is developing to enhance the counseling, 
           which fully works as an online. This software <br> will be great relief to 
           the student for Registration and giving college preferences. 
          This software gives an <br> overview of the entire institute 
           in a sort interval time and will be also great help to <br> University to manage in 
           the whole counseling procedure by there paper work <br> and reducing their time. <br>
            </p>
        </h4>
      </div>