<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body >
    <div class="container" style=" align-self: center;  background-color: black; opacity: 0.7; margin: auto; width: 50%;">
    <div style="align-self: center; text-align: center;">
    
        <h1 style="color:aliceblue; align-self: center;">Welcome</h1>
        <div>
        <h4 style="color:aliceblue;">
            
            The goal of education is not to increase 
            the amount of knowledge but to create the possibilities for a 
            child to invent and discover, to create men who are capable of
            doing new things.
            
        </h4>
    </div>
</div>
</div>
</body>
</html>